@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
  }

.container {
    width: 1200px;
    height: 1500px;
}

.header {
    display: flex;
    background-color: red;
}

#logo {
  width: 75px;
  height: 75px;
}

.content {
    display: flex;
    width: 1200px;
}

/* start sidebar */
.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
  }
  .sidebar header {
    font-size: 22px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #063146;
    user-select: none;
  }
  .sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    transition: .4s;
  }
  ul li:hover a{
    padding-left: 50px;
  }
  .sidebar ul a i{
    margin-right: 16px;
  }
  #check{
    display: none;
  }
  label #btn,label #cancel{
    position: absolute;
    background: #042331;
    border-radius: 3px;
    cursor: pointer;
  }
  label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
  }
  label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 35px;
    color: white;
    padding: 4px 9px;
    transition: all .5s ease;
  }
  #check:checked ~ .sidebar{
    left: 0;
  }
  #check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
  }
  #check:checked ~ label #cancel{
    left: 195px;
  }
  #check:checked ~ section{
    margin-left: 250px;
  }
  section{
    background: url(bg.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
  }
/* end sidebar */

.shop-view {
    display: flex;
    flex-direction: column;
}

#shops {
    background-color: blue;
    overflow-x: scroll;
    display: flex;
    
    width: 1000px;
}

#card-wrapper {
    margin-top: 20px;
}

.shops-map {
    background-color: yellow;
    height: 400px;
    width: 100%;
    /*display: none;            <- this is how we change from map to gallery */
}

.shops-gallery {
    display: block;
    /*display: none;            <- this is how we change from gallery map */
}

/* Set the size of the div element that contains the map */
#map {
    height: 500px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.shops-contact {
    background-color: orchid;
    padding: 2.5rem;
}





