@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');


*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-color: lightgray;
  }

.contentWrapper {
    box-sizing: border-box;
    margin: 0px;
}

.header {
    display: flex;
    background: linear-gradient(0.25turn, #cfcfcf, #efeff3, #0a0a0a);
    width: 100vw;
    position: fixed;
    z-index: 10;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.header::after {
  content: "";
  height: 75px;
}

.title{
  font-family: 'Lobster', cursive;
}

#logo {
  width: 75px;
  height: 75px;
}

.search{
  display: flex;
  justify-content: space-between;
  margin-right: -240px;
}

.search__input{
  height: 40px;
  display: flex;
  align-content: center;
  border: 2px solid #14213D;
  justify-content: center;
  border-radius: 10px;
  width: 500px;
}

.content {
    display: flex;
    top: 50px;
    width: 100vw;
}

/* start sidebar */
.sidebar{
  position: fixed;
  margin-top: 80px;
  width: 70px;
  height: 100vh;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: 0px 0px 20px #d4d4d4;
  transition: .3s ease;
  z-index: 10;
}

.sidebar:hover{
  width: 200px;
  overflow-y: scroll;
}

.sidebar .menu-item{
  padding: 10px;
}

.sidebar .menu-item:hover{
  background-color: #d6d6d6;
  cursor: pointer;
}

.sidebar .menu-item a{
  font-size: 25px;
  width: 40px;
  padding: 5px;
  padding-left: 20px;
  color: #8F8A8E;
  text-decoration: none;
}
.sidebar .menu-item a i{
  font-size: 25px;
  width: 40px;
  padding-left: 0px;
  padding-right: 20px;
  color: #8F8A8E;
}

.sidebar .menu-item:hover > a{
  color: black;
}
.sidebar .menu-item:hover > a i{
  color: black;
}
/* end sidebar */

.shop-view {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    position: relative;
    margin-left: 70px;
    width: 80vw;
}

#shops {
    background-color: none;
    overflow-x: scroll;
    display: flex;
    width: 80vw;
    align-content: center;
}

#card-wrapper {
  display: flex;
  justify-content: center;
  
}

.card-title{
  white-space: nowrap;
  overflow: hidden;
}

.shops-map {
    margin-top: 20px;
    background-color: yellow;
    height: 100%;
    width: 100vw;
    /*display: none;            <- this is how we change from map to gallery */
}

.shops-gallery {
  display: block;
  background-color: yellow;
  height: 400px;
  width: 80vw;
  display: none;

    /*display: none;            <- this is how we change from gallery map */
}

.gallery {
  display: flex;
  height: 400px;
  width: 80vw;
  overflow-x: scroll;
}

/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 80vw;
    /* The width is the width of the web page */
}

.shops-contact {
  padding: 2.5rem;
  display: none;
}

.contact-btn {
  background-color: #d6d6d6;
}
/*shops review start*/
.shops-review {
  display: flex;
  justify-content: center;
  width: 80vw;
  align-content: center;
  margin-top: 20px;
}

.form-group {
  width: 1000px;
}

#comments{
  display: flex;
  flex-flow: wrap;
}
/* shops review end*/

.legal{
  display: flex;
  justify-content: center;
}

.ads{
  margin-left: 10px;
  width: 13vw;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 1px black solid;  
  margin-top: 80px;
  background-color: #80AAA6
  ;
}