@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
  }

.container {
    box-sizing: border-box;
    margin: 0px;
}

.header {
    display: flex;
    background-color: #a4ceae;
    width: 100vw;
    position: fixed;
    z-index: 10;
    height: 75px;
}

.header::after {
  content: "";
  height: 75px;
}

#logo {
  width: 75px;
  height: 75px;
}

.content {
    display: flex;
    top: 50px;
}

/* start sidebar */
.sidebar{
  position: fixed;
  margin-top: 80px;
  width: 70px;
  height: 100vh;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: 0px 0px 20px #d4d4d4;
  transition: .3s ease;
  z-index: 10;
}

.sidebar:hover{
  width: 270px;
  overflow-y: scroll;
}

.sidebar .menu-item{
  padding: 10px;
}

.sidebar .menu-item:hover{
  background-color: #d6d6d6;
  cursor: pointer;
}

.sidebar .menu-item a{
  font-size: 25px;
  width: 40px;
  padding: 5px;
  padding-left: 20px;
  color: gray;
  text-decoration: none;
}
.sidebar .menu-item a i{
  font-size: 25px;
  width: 40px;
  padding-left: 0px;
  padding-right: 20px;
  color: gray;
}

.sidebar .menu-item:hover > a{
  color: blue;
}
.sidebar .menu-item:hover > a i{
  color: blue;
}
/* end sidebar */

.shop-view {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    position: relative;
    margin-left: 70px;
}

#shops {
    background-color: blue;
    overflow-x: scroll;
    display: flex;
    width: 100vw;
}

#card-wrapper {
    margin-top: 20px;
}

.shops-map {
    background-color: yellow;
    height: 100%;
    width: 100vw;
    /*display: none;            <- this is how we change from map to gallery */
}

.shops-gallery {
  display: block;
  background-color: yellow;
  height: 400px;
  width: 100vw;
  display: none;

    /*display: none;            <- this is how we change from gallery map */
}

/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100vw;
    /* The width is the width of the web page */
}

.shops-contact {
  background-color: orchid;
  padding: 2.5rem;
  display: none;
}

.contact-btn {
  background-color: #d6d6d6;
}

.legal{
  display: flex;
  justify-content: center;
}

